
#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:aqua;
  padding: 20px;
}
.logo-img{
  height:50px ;
  width: 50px;
}
.bookbutton {
        background-color:white;
        border: none;
        color:blue;
        padding: 10px;
        border-radius: 5px;
        font: size 15px;
        cursor: pointer;}
.bookbutton:hover {
          background-color:grey;}

.social{
  text-align: center;
  background: grey;
}

.fa {
      padding: 20px;
      font-size: 50px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      border-radius: 60%;
    }


/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  background: blue;}
  .room-card {
    padding: 20px;
    font-size: 30px;
    width: 500px;
    text-align: center;
    background-color: white;
    height: 600px;
    color:black;

  }
  
  image{
    width: 25px;
    height: 50px;
  }
  #joshua{
padding-left: 35%;
background-color: blue;
padding-top: 5%; 
padding-bottom: 5%;
  }

